@inject HttpClient _client
<EditForm Model="@vehicle" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <fieldset disabled="@Disabled">
        @if (Disabled)
        {
            <div class="form-group">
                <label>Image (Optional):</label>
                <div>
                   <img src="@vehicle.ImageName" class="img-thumbnail" style="width:150px; height:150px" />
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                <label>Image (Optional):</label>
                <div>
                    <InputFile OnChange="HandleFileSelection" />
                    <p class="text-danger">@UploadFileWarning</p>
                </div>
            </div>
        }

        <div class="form-group">
            <label>Make: </label>
            <div>
                <select @bind="vehicle.MakeId" class="form-control">
                    <option value="">-- Select Make --</option>
                    @if (Makes != null)
                    {
                        foreach (var make in Makes)
                        {
                            <option value="@make.Id">@make.Name</option>
                        }
                    }
                </select>
                <ValidationMessage For="@(() => vehicle.MakeId)" />
            </div>
        </div>
        <div class="form-group">
            <label>Model: </label>
            <div>
                <InputSelect @bind-Value="vehicle.ModelId" class="form-control">
                    <option value="">-- Select Model --</option>
                    @if (Models != null)
                    {
                        foreach (var model in Models)
                        {
                            <option value="@model.Id">@model.Name</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="@(() => vehicle.ModelId)" />
            </div>
        </div>
        <div class="form-group">
            <label>Colour: </label>
            <div>
                <select @bind="vehicle.ColourId" class="form-control">
                    <option value="">-- Select Colour --</option>
                    @if (Colours != null)
                    {
                        foreach (var colour in Colours)
                        {
                            <option value="@colour.Id">@colour.Name</option>
                        }
                    }
                </select>
                <ValidationMessage For="@(() => vehicle.ColourId)" />
            </div>
        </div>
        <div class="form-group">
            <label>Year:</label>
            <div>
                <InputNumber @bind-Value="@vehicle.Year" class="form-control" />
                <ValidationMessage For="@(() => vehicle.Year)" />
            </div>
        </div>
        <div class="form-group">
            <label>License Plate Number:</label>
            <div>
                <InputText @bind-Value="@vehicle.LicensePlateNumber" class="form-control" />
                <ValidationMessage For="@(() => vehicle.LicensePlateNumber)" />
            </div>
        </div>
        <div class="form-group">
            <label>Vehicle Identification Number:</label>
            <div>
                <InputText @bind-Value="@vehicle.Vin" class="form-control" />
                <ValidationMessage For="@(() => vehicle.Vin)" />
            </div>
        </div>
        <div class="form-group">
            <label>Daily Rate:</label>
            <div>
                <InputNumber @bind-Value="@vehicle.RentalRate" class="form-control" />
                <ValidationMessage For="@(() => vehicle.RentalRate)" />
            </div>
        </div>
    </fieldset>
    @if (!Disabled)
    {
        <button type="submit" class="btn btn-success btn-block">
            @ButtonText
        </button>
    }
    <BackToList Target="vehicles" />
</EditForm>


@code {
    
}
